.highlights_article:not(:last-of-type){
    margin-bottom: 2em;
}
.highlights_image{
    width: 100%;
    height: auto;
}
.highlights_heading, .highlights_text{
    margin: 5px 0.5em 0px;
    
}

@media screen and (min-width: 768px) {
    .highlights{
        display: flex;
        gap: 5px;
        padding: 20px 5px;
        font-size: clamp(0.8rem, 1.5vw, 1.2rem);
        background-color: rgb(201, 201, 201);
    }
}